[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggnuplot"]
	path = ggnuplot
	url = https://github.com/hriebl/ggnuplot
[submodule "lmls"]
	path = lmls
	url = https://github.com/hriebl/lmls
